.contacto {
	display: flex;
	flex-direction: column;
	height: auto;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

.contacto__titulo{
	width: 35%;
	h1{
		font-weight: bold;
	}
}

form {
	* {
		color: #1b262c;
	}
	fieldset {
		background-color: $colorClaro;
		@include bordes(2px, solid, $colorOscuro, 7px);
		padding: 10px;
		box-shadow: 10px 10px #051b2fdb;
	}
	legend {
		background-color: #1b262c;
		color: $colorClaro;
		@include bordes(2px, solid, $colorOscuro, 7px);
		padding: 5px;
	}
	label {
		display: inline-block;
		text-align: center;
		margin: 5px;
	}
	input{
		font-weight: bold;
	}
}
.contacto__opciones {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
.contacto__botones {
	margin:auto
}

@media screen and (max-width:576px) {
    .contacto form{
        width: 90%;
		input{
			width: 100%;
			margin: auto auto 5px auto;			
		}
		select{
			width: 40%;
			margin: 5px 30%;
		}
		.contacto__opciones{
			width: 100%;
			height: 13rem;
		}
		.contacto__botones{
			display: flex;
			justify-content: center;
			width: 100%;
			input{
				width: 40%;
			}
		}
    } 
}

@media screen and (min-width:577px) and (max-width:768px) {
    .contacto form{
        width: 90%;
		.contacto__botones input{
			width: 100%;
			margin: 2px auto;
		}
    }    
}

@media screen and (min-width:769px) and (max-width:992px) {
    .contacto form{
        width: 90%;
		input{
			width: 100px;
		}
    }
}
