footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 3px solid $colorClaro;
    border-bottom: 3px solid #1b262c;
    background-color: $colorOscuro;
    margin-bottom: 5px;
}

.footer__logo{
    width: 25px;
    height: 25px;
}

.footer__titulo{
    margin-top: 15px;
    text-decoration: underline;
    color: $colorClaro;
    font-size: $fontSize;
    margin: 10px;
    font-weight: bold;
}

.footer__social{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__logos{
    width: 100px;
    display: flex;
    justify-content: space-around;
}