header{
    nav{
        background-color: #0B2845EB;
        .container-fluid{
            margin: 10px;
            height: 110px;     
            img{
                width: 150px;
            }       
        }
    }
    position: sticky;
    top: 0px;
    z-index: 999;
    ul.navbar-nav{
        padding: 5px;
        margin: 5px;  
    }
}

.navbar-dark .navbar-nav .nav-link{
    color: $colorOscuro;
}

.nav-link{
    &:hover{
        text-decoration: underline;
        text-decoration-color: #0B2845EB;
    }
}

#navbarCollapse{
    background-color: #BBE1FA;
    @include bordes(2px, solid, $colorOscuro, 7px);
}

.header__login{
    padding: 3px;
    display: flex;
    flex-direction: column;
    height: 85px;
    justify-content: space-evenly;
    a{
        padding: 3px;
        background-color: #BBE1FA;
        color: #1b262c;
        text-align: center;
        :hover{
            padding: 3px;
            background-color: #1b262c;
            color: #BBE1FA;
        }
    }
}

#header__boton{
    margin: 10px;
}

#header__boton button{
    background: $colorClaro;
    color: #1b262c;
    font-weight: bold;
    cursor: pointer;
    padding: 3px;
    width: 25%;
    @include bordes(2px, solid, $colorOscuro, 7px);
    &:hover{
        background-color: $colorOscuro;
        color: $colorClaro;
    }
}

#header__busqueda{
    width: 75%;
    margin: auto;
}

#buscar{
    margin-top: 15px;
    @include bordes(2px, solid, $colorOscuro, 7px);
}

#modal__login{
    @include bordes(2px, solid, $colorOscuro, 7px);
    width: 150px;
    background: $colorClaro;
    color: $colorOscuro;
    font-weight: bold;
    cursor: pointer;
    margin: 8px;
    &:hover{
        background-color: $colorOscuro;
        color: $colorClaro;
    }
}

#modal__signin{
    @include bordes(2px, solid, $colorOscuro, 7px);
    width: 150px;
    background: $colorClaro;
    color: $colorOscuro;
    font-weight: bold;
    cursor: pointer;
    margin: 8px;
    &:hover{
        background-color: $colorOscuro;
        color: $colorClaro;
    }
}



/* MEDIA QUERIES */
@media screen and (max-width:576px) {
    header{
        nav{
            .container-fluid{
                img{
                    width: 120px;
                }
            }
        }
    }    
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    #header__busqueda{
        margin: 0;
    }
    #header__boton{
        button{
            width: 70%;
        }
    }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
    #header__busqueda{
        margin: 0;
    }
    #header__busqueda{
            width: 50%;   
    }
}

@media screen and (min-width:1201px) {
    #header__busqueda{
        margin: 0;
        width: 450px;   
    }
    #login__modal{
        margin-right: 20px;
    }
}